{% extends 'blog/base.html' %}
{% load blog_tags %}
{% block content %}
<div class="row m-5">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
         <p>Welcome to Whale of a Tale! We are a blog dedicated to whales, their habitats, and the people who study
            them. We love to share our knowledge and passion for whales with others.</p>

         <p>We want to help people better understand and appreciate whales and their environment.</p>

         <p>We provide news, facts, and stories about whales, their habitats, and the people who study and protect them.
            We
            also feature interviews with experts, events, and actionable steps people can take to help protect whales
            and
            their ocean habitats.</p>

         <p>We are committed to providing meaningful content about whales and the ocean that is informative,
            entertaining,
            and inspiring. We believe that by increasing understanding of whales and their environment, we can all make
            a
            difference in protecting them and their habitats for future generations.</p>

         <p>Thank you for visiting and we hope you enjoy your stay!</p>
    </div>
    <div class="col-sm-3"></div>
</div>
{% endblock %}
