{% load blog_tags %}
{% load static %}
<div class="container-fluid-sm">

    <nav class="navbar navbar-expand-sm bg-light">

        <a class="navbar-brand" href="{% url 'home' %}">
            <img height="45" src="{% static '/blog/images/logo.png' %}" width="45">
        </a>

        <ul class="navbar-nav">

            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Main</a>
            </li>

            {% menu_list %}

            <li class="nav-item">
                <a class="nav-link" href="{% url 'feedback' %}">Feedback</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">About</a>
            </li>

        </ul>


        <ul class="navbar-nav ms-auto">

            {% if not request.user.is_authenticated %}
            <li class="nav-item me-2">
                <a class="btn btn-info nav-link" href="{% url 'register' %}" role="button">Sign Up</a>
            </li>
            <li class="nav-item me-2">
                <a class="btn btn-info nav-link" href="{% url 'login' %}" role="button">Sign In</a>
            </li>
            {% else %}
            <li class="nav-item me-2">
                <a class="btn btn-info nav-link" href="{% url 'logout' %}" role="button">Logout</a>
            </li>
            {% endif %}
            <li class="nav-item me-2">
                <form action="{% url 'search' %}" method="get">
                    <input class="form-control" id="search" name="q" placeholder="Search..." type="text">
                </form>
            </li>
        </ul>
</div>


